.card-body {
      margin-left: 80px;
      height: 50px;
      width: 300px;
      margin-top: 10px;
      text-align: center;
      border-radius: 100px;
}

.card-title {
      font-size: 20px;
      color: white;
      text-transform: uppercase;
}

.lista_animais {
      text-align: center;
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em
}

.foto {
      width: 200px;
      height: 200px;
      border-radius: 50%;
}

.cargo {
      text-align: center;
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em
}

#sistema {
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em  
}

#links a {
      margin-right: 10px;
}

#nome-animal {
      text-align: center;
}

#nome-fazendeiro {
      text-align: center;
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em      
}

.espacamento-linha {
      margin-left: 332px;
}

.nome-frase h1, label{
      text-align: center;
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em;
}

label {
      display: inline;
      background-color: rgba(3, 84, 151, 0.466);
}

#turno {
      color: white;
      font-size: 25px;
      float: right;
      padding: 12px 25px 15px;
}

#frase-carrousel {
      font-size: 18px;
      text-shadow: black 0.1em 0.1em 0.2em;
}

.foto-fazendeiro, .foto-animal {
      margin-top: 20px;
      margin-left: 130px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
}

#cadastro {
      float: right;
}