{% extends 'base.html' %}

{% block active-fazendeiros %}
active-menu
{% endblock %}

{% block conteudo %}
<div class="row">
      <div class="col-md-12">
            <ol class="breadcrumb">
                  <li><a href="/gestao">Voltar</a></li>
            </ol>
      </div>
</div>
<div class="row">
      <div class="col-md-12">
            <table class="table panel">
                  <thead>
                        <tr>
                              <th>Nome</th>
                              <th>CPF</th>
                              <th>Código</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for fazendeiro in fazendeiros %}
                        <tr>
                              <td>{{fazendeiro.nome}}</td>
                              <td>{{fazendeiro.cpf}}</td>
                              <td>{{fazendeiro.id}}</td>
                              <td>
                                    <ul id="links">
                                          <a href="/gestao/fazendeiros/{{fazendeiro.id}}">Detalhes</a>
                                          <a href="/gestao/fazendeiros/{{fazendeiro.id}}/edit/">Editar</a>
                                          <a href="/admin/gestao/fazendeiro/{{fazendeiro.id}}/delete/">Apagar</a>
                                    </ul>
                              </td>
                        </tr>
                        {% endfor %}
                  </tbody>
                  <tfoot>
                        <p id="sistema">O sistema encontrou {{fazendeiros | length}} fazendeiros cadastrados!</p>
                  </tfoot>
            </table>
            <button id="cadastro" type="button" class="btn btn-dark"><a href="/gestao/fazendeiros/form/">Novo Fazendeiro</a></button>
      </div>
</div>
{% endblock %}