{% extends 'base.html' %}

{% block active-animais %}
active-menu
{% endblock %}

{% block conteudo %}
<div class="row">
      <div class="col-md-12">
            <ol class="breadcrumb">
                  <li><a href="/home">Voltar</a></li>
            </ol>
      </div>
</div>
<div class="row">
      <div class="col-md-12">
            <table class="table panel">
                  <thead>
                        <tr>
                              <th>Nome</th>
                              <th>Raça</th>
                              <th>Código</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for animal in animais %}
                        <tr>
                              <td>{{animal.nome}}</td>
                              <td>{{animal.raca}}</td>
                              <td>{{animal.id}}</td>
                              <td>
                                    <ul id="links">
                                          <a href="/home/animais/{{animal.id}}">Detalhes</a>
                                          <a href="/admin/gestao/animal/{{animal.id}}/change/">Editar</a>
                                          <a href="/admin/gestao/animal/{{animal.id}}/delete/">Apagar</a>
                                    </ul>
                              </td>
                        </tr>
                        {% endfor %}
                  </tbody>
                  <tfoot>
                        <p id="sistema">O sistema encontrou {{animais | length}} animais cadastrados!</p>
                  </tfoot>
            </table>
      </div>
</div>
{% endblock %}